<script>
 // markdownString = 'coverImage | title | date | tags | video '
    const markdownString = ` https://depor.com/resizer/frYh9JMjTmkI_few0UyKK7WGvCU=/620x0/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/K3ZVO6CHINGL5OWBS45TZM4BRI.jpg | Rapidos Y Furiosos | 2023 | Accion, Carreras | https://drive.google.com/file/d/1fU5rCO8BghqfvRP1uDk6u-0LjsVIpx4i/preview`;

    const movies = markdownString.trim().split('\n');

    const container = document.getElementById('container');

    movies.forEach(movieString => {
      const [coverImage, title, date, tags, video] = movieString.split('|').map(item => item.trim());
      const div = document.createElement('div');
      const img = document.createElement('img');
      const frame = document.createElement('iframe');

      img.src = coverImage;
      img.alt = "Movie Cover";
      img.width = 200; 
      div.appendChild(img);

      div.innerHTML += `
        <h1>Nombre: ${title}</h1>
        <h2 class="text-yellow-200"> ${tags} </h2>
        <p>Lanzamiento: ${date}</p>
      `;


      container.appendChild(div);


      frame.src = video;
      frame.width = '500';
      frame.height = '300';
      frame.allowFullscreen = true;
      div.appendChild(frame);

      
    });

    </script>
  
  <div id="container" class="text-white font-serif text-3xl bg-[#111317] flex flex-row justify-center items-center">

  </div>