<script>
  // Fetch the markdown file
  fetch('/src/posts/peliculas/Aquaman.md')
    .then(response => response.text())
    .then(markdownString => {
      const movies = markdownString.trim().split('\n');

      const container = document.getElementById('container');

      movies.forEach(movieString => {
        const [coverImage, title, fecha, video] = movieString.split('|').map(item => item.trim());
        const div = document.createElement('div');
        const img = document.createElement('img');
        
        const frame = document.getElementById('frame');

        img.src = coverImage;
        img.alt = "Movie Cover";
        img.width = 100;
        div.appendChild(img);

        
        frame.src = video;


        div.innerHTML += `
          <p>Nombre: ${title}</p>
          <p>Lanzamiento: ${fecha}</p>
        `;

        container.appendChild(div);
      });
    })
    .catch(error => {
      console.error('Error fetching data:', error);
    });
</script>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ${titulo} </title>
</head>
<body>
  
  <div id="container" class="text-red font-serif text-3xl">
    
    <iframe id="frame" src="" allowfullscreen ></iframe>
  </div>

</body>
</html>
