<footer class="text-gray-300 py-10 text-center">
    <p>
        Derechos reservados por El Blog De Pelis.
    </p>
    <p>
        Desde 2018
    </p>

    <a href="https://bdp-ramiromoralesdev.vercel.app/" target="_blank" class="hover:text-yellow-300">El Blog Del Libro</a>

    <a href="https://ramiromorales.tech/" target="_blank" class="hover:text-emerald-600">Developeed for RamiroMoralesdev</a>
</footer>