<section class="mt-5 flex justify-center gap-5">
    <button class="bg-emerald-400 w-12 h-12 rounded-3xl text-white text-4xl hover:bg-yellow-500">1</button>
    <button class="bg-emerald-400 w-12 h-12 rounded-3xl text-white text-4xl hover:bg-yellow-500">2</button>
    <button class="bg-emerald-400 w-12 h-12 rounded-3xl text-white text-4xl hover:bg-yellow-500">3</button>
    <button class="bg-emerald-400 w-12 h-12 rounded-3xl text-white text-4xl hover:bg-yellow-500">4</button>
</section>