<input type="search" placeholder="Buscador" id="inputBusqueda" class="w-4/6 h-10 mx-0 my-auto bg-black text-white mt-10 shadow-sm shadow-emerald-300 placeholder:text-neutral-400 placeholder:text-xl" />
<button type="submit" class="text-white">OK</button>

