<script>
    const allPosts = await Astro.glob('../posts/peliculas/*.md');
    const searchForm = document.getElementById('searchForm')
    const searchInput = document.getElementById('searchInput')
    const searched = document.getElementById('searched')
    

    searchForm.addEventListener('submit', function(event) {
    event.preventDefault(); // Evita que el formulario se envíe de la manera tradicional
    var searchTerm = searchInput.value;
    
    // Filtra los datos basándote en el término de búsqueda
    var filteredData = allPosts.filter(function(post) {
      // Asegúrate de que post.frontmatter y post.frontmatter.title están definidos
      return post.frontmatter && post.frontmatter.title && post.frontmatter.title.includes(searchTerm);
    });
    
    // Muestra los resultados de la búsqueda
    var resultsContainer = searched;
    resultsContainer.innerHTML = ''; // Limpia los resultados anteriores
    filteredData.forEach(function(post) {
      resultsContainer.innerHTML += '<div>' + post.frontmatter.title + '</div>'; // Muestra el título del post
    });
  });
</script>
    
</script>

<div>
    
    <div class="w-screen text-center sticky top-0">
        <img src="/favicon.png" alt="Logotipo de El Blog De Pelis" class="w-20 absolute left-8 top-7">

        <!--  ! IMPORTANTE. Al desplegar cambiar el action al dominio real -->
        <form id="searchForm" action="">
            <input type="search" id="searchInput"placeholder="Buscador por palabras clave" class="w-4/6 h-10 bg-black text-white mt-10 shadow-sm shadow-emerald-300 placeholder:text-neutral-400 placeholder:text-xl">
            <input type="submit" value="Buscar" >
        
        </form>

        <div id="searched"></div>

    </div>.