  <script>
  // Fetch the markdown file
  fetch('/src/posts/peliculas/Aquaman.md')
    .then(response => response.text())
    .then(markdownString => {
      const movies = markdownString.trim().split('\n');

      const container = document.getElementById('container');

      movies.forEach(movieString => {
        const [coverImage, title, fecha, video] = movieString.split('|').map(item => item.trim());
        const img = document.createElement('img');
        const frame = document.createElement('iframe');

        img.src = coverImage;
        img.alt = "Movie Cover";
        img.width = 200;
        container.appendChild(img);

        container.innerHTML += `
          <p>Nombre: ${title}</p>
          <p>Lanzamiento: ${fecha}</p>
        `;

        
        frame.src = video;
        frame.allowfullscreen = true

        container.appendChild(div);
      });
    })
    .catch(error => {
      console.error('Error fetching data:', error);
    });
</script>

<div id="container">

</div>
  
 

<style>
  #container {
    width: 100vw;
    height: 73vh;
    background-color: blue;
    color: white;
   

    & img {
      float: left;
    }

    & p{
      display: flex;
      flex-direction: column;
      font-size: 2em;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
</style>