---
import TemplateMovies from "./TemplateMovies.astro"
---

<section class="max-w-[90vw] h-96 shadow-2xl shadow-white m-auto">
    <article id="post">
        <TemplateMovies></TemplateMovies>
    </article>
</section>

<script>

</script>
