<script>
  // markdownString = 'coverImage | title | date | tags | video '
 const markdownString = ``;
 
 function createDialog(dialogId, markdownString) {
   const movies = markdownString.trim().split('\n');
   const container = document.createElement('div');
   
   container.style.backgroundColor = "#13151a"
   container.style.color = "#ffffff"
   container.style.display = "flex";
   container.style.flexDirection = "column";
   container.style.justifyContent = "center";
   container.style.alignItems = "center";
 
   movies.forEach(movieString => {
     const [coverImage, title, date, tags, video] = movieString.split('|').map(item => item.trim());
     const div = document.createElement('div');
     const img = document.createElement('img');
     const frame = document.createElement('iframe');
 
     img.src = coverImage;
     img.alt = "Movie Cover";
     img.width = 200; 
     div.appendChild(img);
 
     div.innerHTML += `
       <h1>Nombre: ${title}</h1>
       <h2 class="text-yellow-200">${tags}</h2>
       <p>Lanzamiento: ${date}</p>
     `;
 
     container.appendChild(div);
 
     frame.src = video;
     frame.width = '500';
     frame.height = '300';
     frame.allowFullscreen = true;
     div.appendChild(frame);
   });
 
   const dialog = document.getElementById(dialogId);
   dialog.appendChild(container);
 }
 
 createDialog("alert-dialog-hola", markdownString);
 </script>
 
 <dialog id="alert-dialog-aquaman" class="w-5/6 h-4/5"></dialog>
 
 <dialog id="alert-dialog-hola" class="w-5/6 h-4/5"></dialog>
 