---
import Aquaman from "../posts/peliculas/Aquaman.astro";
import Hola from "../posts/peliculas/hola.astro"
---


<dialog id="alert-dialog" class="w-5/6 h-4/5">
    <Aquaman></Aquaman>
    <button class="text-red-400" onclick="this.parentElement.close()">X</button>
  </dialog>
  
  <button id="show-button">
    <img src="/public/favicon.png" alt="" class="w-72">
  </button>




  <script>
    const showButton = document.querySelector("#show-button");
import TemplateMovies from "./TemplateMovies.astro";
    showButton.addEventListener("click", function () {
  const alertDialog = document.querySelector("#alert-dialog");
  alertDialog.showModal();

});
  </script>