---
const allPosts = await Astro.glob('../posts/peliculas/*.md');
---

<style>
  img {
    width: 300px;
  }
</style>

    <ul class=" w-10/12 h-auto text-white shadow-2xl shadow-white m-auto flex gap-8">
      {allPosts.map((post) => 
      <li>
      <img src={post.frontmatter.image.url}>
      </li>)}
    </ul>