---
const pageTitle = "Página de inicio";
const allPosts = await Astro.glob('../posts/peliculas/*.md');
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <ul>
      {allPosts.map((post) => 
      <li>
      <a href={post.frontmatter.video}>{post.frontmatter.title}</a>
      </li>)}
    </ul>
  </body>
</html>