<div>
    <!--
        ! Falta buscador
     -->

     <section class="text-white text-3xl font-extrabold w-screen mt-10 mb-20 flex justify-around">
        <button class=" bg-emerald-400 w-40 h-16  hover:bg-yellow-500 ">
            <a class="" href="#">Peliculas</a>
        </button>

        <button class=" bg-emerald-400 w-40 h-16  hover:bg-yellow-500">
            <a href="#">Series</a>
        </button>

        <button class=" bg-emerald-400 w-40 h-16  hover:bg-yellow-500">
            <a href="#">Generos</a>
        </button>
     </section>
</div>