---
import Search from "../components/Search.astro";
---
<div class="w-full flex justify-center items-center">
    <Search></Search>
</div>

     <section id="movies" class="text-white text-3xl font-extrabold w-screen mt-10 mb-20 flex justify-around">
        <button class=" bg-emerald-400 w-40 h-16  hover:bg-yellow-500 ">
            <a class="" href="#">Peliculas</a>
        </button>

        <button id="series" class=" bg-emerald-400 w-40 h-16  hover:bg-yellow-500">
            <a href="#">Series</a>
        </button>

        <button id="genres" class=" bg-emerald-400 w-40 h-16  hover:bg-yellow-500">
            <a href="#">Generos</a>
        </button>
     </section>
</div>

<script>

    let btnSeries = document.getElementById("series");
    const btnMovies = document.getElementById("movies");
    const btnGenrees = document.getElementById("genres");


    btnSeries.addEventListener("click", function() {
    btnSeries.textContent = "Proximamente!";
    btnSeries.style.fontSize = ".7em";
    btnSeries.style.background = "#eab308";
    })


</script>